/* Custom, reactive style for website
   updated: 2020-10-08
   author: nick

 */

/* vars */
:root {
  --code-background: #F1F1F1;
  --main-font-size: 16px;
  --main-font-family: Seravek,Sitka,sans-serif;
  --header-font-size: 24px;
  --h1-font-size: 24px;
  --h2-font-size: 20px;
  --max-reading-width: 650px;
}

h1{
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

#edn {
  display: none;
}

html {
  /* border: 3px solid green; */
  font-size:var(--main-font-size);
  font-family:var(--main-font-family);
  line-height:1.2;
}

.info-list, #recentPosts {
  font-size: var(--main-font-size);
}

.home-div {
  font-size: var(--main-font-size);
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
  max-width: var(--max-reading-width);
  min-width: 500px;
}

body{
  background-color:#FEFEFA;
  margin-top:0;
  margin-left:0;
  margin-right:0;
}

/* Header */

.header {
  /* border: 3px solid green; */
  overflow: hidden;
  background-color: #F1F1F1;
  width: var(--max-reading-width);
  border-radius:8px;
  padding-left: 1em;
  padding-right:1em;
  margin-top:0.5em;
  margin-bottom:1em;
  margin-left: 25%;
  margin-right: 25%;
  font-size: var(--header-font-size);
}

.header a {
  float: left;
  color: black;
  text-align: left;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5em;

}

.header a.name {
    font-weight:bold;
}

.header a.active {
  color: white;
}


.header-right {
  float:right;
}


.header a:hover {
  background-color: #ddd;
  color: black;
  padding:0.5em;
  border-radius:8px;
  border-width:8px;
}

/* end header */

/* footer */

footer {
  /* border: 3px solid red; */
  text-align:center;
  position:center;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-left: 25%;
  margin-right: 25%;
  font-size: var(--h2-font-size);
  width: var(--max-reading-width);
}
/* end footer */

/* main layout */

#table-of-contents {
  /* border: 3px solid green; */
  display: block;
  width:20%;
  position:fixed;
  margin-left:1em;
  margin-right:1em;
  padding-right:1em;
  height:100vw;
  max-width:300px;
}

#article, #mainTitle {
  /* border:3px solid blue; */
  display: block;
  margin-right: 25%;
  margin-left: 25%;
  padding-left:1em;
  padding-right:1em;
  max-width: var(--max-reading-width);
  min-width:550px;
}

code {
    color:#CA3636;
    font-family:Monaco,monospace;
    background-color:var(--code-background);
    border-width:1px;
    border-color:var(--code-background);
    border-style:solid;
    border-radius:4px;
}

.example, .org-src-container {
  border-width:1px ;
  border-color:var(--code-background);
  border-style:solid;
  border-radius:8px;
  background-color:var(--code-background);
  font-family:monospace;
  color:#3c3c3c;
  width:100%;
  max-height:800px;
  overflow: auto;
  padding:5px;
  resize: both;
}

p {
   text-indent:1em;
   }

a:hover{
  color: #CA3636;
  background-color:var(--code-background);
  border-color:var(--code-background);
  border-width:6px;
  border-radius: 4px;
}

ol, li {
  margin-left: 0em;
  padding-left: 0vw;
  line-height: 1.6;
}

#timedate p {
  font-size:14px;
  text-indent:0vw;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:4px;
  max-width: 100%;
  border-style: solid;
  border-width:4px;
  border-color:  #F1F1F1;  
}

@media screen and (max-width:900px) {
  body {
    /* background-color: lightblue; */
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    width:100%;
    max-width: var(--max-reading-width);
    margin-left:auto;
    margin-right:auto;
  }
  #table-of-contents, #article, #mainTitle{
    overflow:hidden;
    display: inline;
    position: relative;
    width: 100%;
    min-width:450px;
    max-width: var(--max-reading-width);
    margin-left:auto;
    margin-right:auto;
    padding-left:0em; /* fix problem with mainTitle indenting */
  }

  .header {
    /* border: 3px solid green; */
    overflow: hidden;
    background-color: #F1F1F1;
    max-width: var(--max-reading-width);
    width: 100%;
    min-width: 450px;
    border-radius:8px;
    padding-left: 1em;
    padding-right:1em;
    margin-top:0.5em;
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--header-font-size);
  }
}
