/* Custom style for website
   updated: 2020-11-11
   author: nick
 */

/* vars */
:root {
  --code-background: #F1F1F1;
  --main-font-size: 16px;
  --main-font-family: sans-serif;
  --h1-font-size: 1.15rem;
  --h2-font-size: 1.05rem;
  --max-reading-width: 600px;
  --min-size-width: 350px;
  --main-lr-margins: 25%;
}

h1{
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

#edn {
  display: none;
}

html {
  /* border: 3px solid green; */
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  line-height: 1.35;
}

body{
  background-color: #FEFEFA;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
}

.info-list, #recentPosts {
  font-size: var(--main-font-size);
}

.home-div {
  font-size: var(--main-font-size);
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 10px;
  margin-left: var(--main-lr-margins);
  margin-right: var(--main-lr-margins);
  margin-bottom:10px;
  max-width: var(--max-reading-width);
}

/* Header */

.header {
  /* border: 3px solid green; */
  overflow: hidden;
  max-width: var(--max-reading-width);
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: var(--main-lr-margins);
  margin-right: var(--main-lr-margins);
  font-size: 1.15rem; /* var(--header-font-size); */
  border-bottom: 1px solid black;
}

.header a {
  float: left;
  color: black;
  text-align: left;
  text-decoration: none;
  border-radius: 4px;
  padding: 0.5em;
}

.header a.name {
    font-weight: bold;
}

.header a.active {
  color: white;
}


.header-right {
  float: right;
}


.header a:hover {
  background-color: #F1F1F1;
  color: black;
  padding: 0.5em;
  border-radius: 8px;
  border-width: 8px;
}

/* end header */

/* footer */

footer {
  /* border: 3px solid red; */
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  position: center;
  margin-left: var(--main-lr-margins);
  margin-right: var(--main-lr-margins);
  font-size: 1.1rem;
  color: #696969;  
  max-width: var(--max-reading-width);
}
/* end footer */

/* main layout */

#table-of-contents {
  /* border: 3px solid green; */
  display: block;
  width: 20%;
  position: fixed;
  margin-left: 1em;
  margin-right: 1em;
  padding-right: 1em;
  padding-left: 1em;
  height: 100vw;
  max-width: 300px;
}

#table-of-contents ul {
  list-style-type:none;
}

#article, #mainTitle {
  /* border:3px solid blue; */
  display: block;
  margin-right: var(--main-lr-margins);
  margin-left: var(--main-lr-margins);
  padding-left: 1em;
  padding-right: 1em;
  max-width: var(--max-reading-width);
}

code {
    color: #CA3636;
    font-family: Monaco,monospace;
    background-color: var(--code-background);
    border-width: 1px;
    border-color: var(--code-background);
    border-style: solid;
    border-radius: 4px;
}

.example, .org-src-container {
  border-width: 1px;
  border-color: var(--code-background);
  border-style: solid;
  border-radius: 8px;
  background-color: var(--code-background);
  font-family: monospace;
  color: #3c3c3c;
  width: 100%;
  max-height: 800px;
  overflow: auto;
  padding: 5px;
  resize: both;
}

p {
   text-indent: 1em;
}

a {
  text-decoration: none;
}

a:hover{
  color: #CA3636;
  background-color: var(--code-background);
  border-color: var(--code-background);
  border-width: 6px;
  border-radius: 4px;
}

ol, ul, li {
  margin-left: 0em;
  padding-left: 0vw;
  margin-top: 8px;
}

#timedate p {
  font-size: 14px;
  text-indent: 0vw;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  max-width: 100%;
  border-style: solid;
  border-width: 4px;
  border-color: #F1F1F1;  
}

@media screen and (max-width:900px) {
  body {
    /* background-color: lightblue; */
    position: relative;
    padding-left: 1em;
    padding-right: 1em;
    max-width: var(--max-reading-width);
    margin-left: auto;
    margin-right: auto;
  }
  
  #table-of-contents, #article, #mainTitle{
    overflow: hidden;
    display: inline;
    position: relative;
    min-width: var(--min-size-width);
    max-width: var(--max-reading-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 0em; /* fix problem with mainTitle indenting */
  }

  .header {
    /* border: 3px solid green; */
    max-width: var(--max-reading-width);
    min-width: var(--min-size-width);
    margin-left: auto;
    margin-right: auto;
  }

  .home-div {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-reading-width);
    min-width: var(--min-size-width);
  }
  
  footer {
    /* border: 3px solid red; */
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-reading-width);
    min-width: var(--min-size-width);
    
  }
}
